

    <div class="px-4 py-5 text-center">
        
        <h1 class="display-5 fw-bold" >Job Application Manager</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Manage your application to different roles in one place. Be it quickly making a card for your new application, updating the 
                status of your previous cards, you get it all right HERE.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                
                <form action="/login" method="GET">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
                </form>
                <form action="/register" method="GET">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Register</button>
                </form>
            </div>
        </div>
    </div>


        



